/* Header Style */
header {
    background-color: #D2B48C;
    color: #8C3826;
    padding-top: 5px;
    padding-bottom: 5px;
}


/* Main Style */
main {
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom:2em;
    }

/* Wrapper Style */
.wrapper {
    width: 80%;
    min-width: 900px;
    max-width: 1280px;
    background-color: #FEFAEB;
    margin-right: auto;
    margin-left: auto;

    box-shadow: 10px 5px 5px red;
}

/* Music Details Class Selector Style */
.details {
    padding-left:20%;
    padding-right:20%;
}

/* "Homehero" Class Selector Style */
.homehero {
    background-image: url('Images/hero.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-height: 300px;
}

/* Image Style */
img {
    padding-left: 10px;
    padding-right: 10px;
}

/* Navigation Style */
nav {
    text-align: center;
    font-weight: bold;
    padding-top: 5px;
    padding-top: 5px;
    font-size: 1.5em;
}

/* Navigation Anchor Style */
nav a { text-decoration: none; }

/* Heading 1 Style */
h1 {
    font-size: 3em;
}

/* Heading 2 Style */
h2 {
    color: #8C3826;
}

/* Heading 4 Style */
h4 {
    background-color: #D2B48C;
    font-size: 1.2em;
    padding-left: 0.5em;
    padding-bottom: 0.25em;
}


/* H3 & DT Style Rule */
h3, dt {
    color: #8C3826;
}

/* Body Style */
body {
    background-color: #FCEBB6;
    color: #221811;
    font-family: Arial,sans-serif;

    background-image: url('Images/fadedroad50.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
}

/* Footer Style */
footer {
    text-align: center;
    background-color: #D2B48C;
    font-size: 80%;
    font-style: italic;
    padding: 1em;
    border-top: 2px solid #8C3826
}